<div id="header">
  <h1>IN PROGRESS</h1>
  <h1>READY</h1>
</div>

<div class="split-screen">
  <div class="blue-container">
    @for (element of kitchenService.elements(); track element.id) {
      @if (element.status === "IN_PROGRESS") {
        <app-kitchen-element (click)="updateOrderState(element)" class="kitchen-item blue" color="blue" [order]="element"></app-kitchen-element>
      }
    }
  </div>

  <div class="red-container">
    @for (element of kitchenService.elements(); track element.id) {
      @if (element.status === "READY") {
        <app-kitchen-element (click)="updateOrderState(element)" class="kitchen-item red" color="red" [order]="element"></app-kitchen-element>
      }
    }
  </div>
</div>
