<div id="outerOuter">
  <div id="outer">
    <div id="header">
      <h1 id="gray">In Vorbereitung ...</h1>
      <h1 id="green">Fertig zum Abholen</h1>
    </div>

    <div class="split-screen">
      <div class="blue-container">
        @for (element of kitchenService.elements(); track element.id) {
          @if (element.status === "IN_PROGRESS") {
            <div class="elem">{{ element.id!.toString().padStart(4, "0") }}</div>
          }
        }
      </div>

      <div class="red-container">
        @for (element of kitchenService.elements(); track element.id) {
          @if (element.status === "READY") {
            <div class="elem">{{ element.id!.toString().padStart(4, "0") }}</div>
          }
        }
      </div>
    </div>
  </div>

  <div id="image">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeG5O7i4BJr2SaKWa3m8EsOPyUqi7ZLTaTJw&s" alt="htl logo" class="right-image" fill/>
  </div>
</div>

<div id="welcome-message">
  Willkommen beim WMC (Webprogrammierung und Mobile Computeing) Stand!
</div>
